.new-modal-background {
  width: 100%;
  height: 100%;
  background-color: rgb(236, 236, 236);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 1;
}

.new-modal-container {
  background-color: black;
  height: 500px;
  width: 500px;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: large;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.new-modal-container form {
  background-color: white;
  color: black;
  width: 80%;
  height: 60%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.new-modal-container form div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pics-input::-webkit-file-upload-button {
  height: 30px;
  border-radius: 25px;
}

.pics-input::-webkit-file-upload-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.new-modal-container .footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.new-modal-container .footer button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: red;
  color: black;
  font-weight: 900;
  cursor: pointer;
}

.new-modal-container .footer :last-child {
  background-color: black;
  color: white;
}
